.booking-card {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px; 
}

h3 {
  font-size: 24px; 
  font-weight: bold; 
  margin-bottom: 20px;
  color: #db9b41; /* Keep existing color */
}

.booking-form .form-control.half-width {
  width: 100%; 
}

.input-container {
  margin-bottom: 20px; 
}

.input-container label {
  font-weight: bold;
  
}

.input-container input[type="text"],
.input-container input[type="number"],
.input-container select {
  width: 80%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-container input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* Additional styling for date input if needed */
}





.btn-submit {
  background-color: #db9b41;
  padding: 0.6rem 1.2rem;
  color: white !important; 
  border-radius: 0.5rem;
  border: 1px solid transparent;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  display: inline-block;
}

.btn-submit:hover {
  border-color: #01a0c6;
  background: #01a0c6;
  color: var(--cultured)!important;
}
