@import "../../styles/mixins.scss";
.earnings{
    
    padding-block: 5rem;
    &_container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items:center;
        gap:6rem 4rem;
        background-image: url('../../assets/blur-bg.png');
        
    }

    img{
        width:100%;
        height:100%
    }
    h2{
        font-size: 2.7rem;
        line-height: 1.2;
        text-transform: capitalize;

        @include respond(phone){
            font-size: 2.2rem;
        }
    }

    p{
        margin-block: 1rem;
    }
    
}
