@import "../../styles/mixins.scss";
.hero {
    background-color: var(--black);
    padding-block: 2.5rem;

    &_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        background-image: url('../../assets/blur-bg.png');
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;

        @include respond(tab-port) {
            grid-template-columns: 1fr;
            background: none;
        }
    }

    &_left img {
        padding-left: 20px;
        height: 100%; 
        width: auto; 
        object-fit: cover; 
        @include respond(tab-port) {
            width: 80%;
            margin-inline: auto;
        }
    }

    h1 {
        text-transform: capitalize;
        font-size: 3.3rem;
        letter-spacing: 1px;
        font-weight: 600;
        line-height: 1.2;

        @include respond(phone) {
            font-size: 2.4rem;
        }
    }

    p {
        margin-block: 1.5rem 2.5rem;
        line-height: 1.5;
    }
    .btn{
        background-color: #db9b41;
        padding: 0.6rem 1.2rem;
        color: white;
        border-radius: 0.5rem;
        border: 1px solid transparent;
        font-size: 1.1rem;
        transition: all 0.3s ease;
        display: inline-block;
        margin-top: 1.5rem; /* Add margin to separate from the paragraph */
    
        &:hover{
            border-color: #01a0c6;
            background: #01a0c6;
            color: var(--cultured)!important;
        }
    }
    .colored {
        color: #226c97;
    }
}
